/**
 NW styles: normalize.css comes first, then standard nw css
 */


/*! normalize.css v2.1.2 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Normalize typog
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** END OF NORMALIZE.CSS **/


/**
 * ===================== Primary styles ======================================
 */

body {
	min-height:96%;
	background-color:#000004; /* To prevent the "white background flash" effect. */
	background:url('/images/rebel.png');
	color:ghostwhite;
}

/* Set your base font here, to apply evenly */
body, select, input, textarea {
	font-family: Arial, Helvetica, sans-serif;	
}
select{
	color:#333;
	background-color:ghostwhite;
}

input{
	border-radius:.3em;
	background-color:#000800; /* Lightly red. */
	color: ghostwhite;
}
input[type=submit]{
	font-weight:bolder;
}
input[type=image]{
	background:none;
}

textarea{
	background-color:#000004;
	color: ghostwhite;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

img {
	max-width:100%; /* Allow scaling down of images in smaller containers */
}


dl {
	line-height:1.1;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 1, 2010 11:01:21 AM America/New_York
ShangriLa is useful for the index subcategory headers.
Gazelle is useful for the h1,h2,h3 and player name headers.

*/

@font-face {
	font-family: 'ShangriLaNFRegular';
	src: url('/files/fonts/SHANLN__.eot');
	src: local('ShangriLaNF'), local('ShangriLaNF'), url('/files/fonts/SHANLN__.woff') format('woff'), url('/files/fonts/SHANLN__.ttf') format('truetype'), url('/files/fonts/SHANLN__.svg#ShangriLaNF') format('svg');
}

@font-face {
	font-family: 'GazelleFLFRegular';
	src: url('/files/fonts/GazelleFLF.eot');
	src: local('GazelleFLF'), local('GazelleFLF'), url('/files/fonts/GazelleFLF.woff') format('woff'), url('/files/fonts/GazelleFLF.ttf') format('truetype'), url('/files/fonts/GazelleFLF.svg#GazelleFLF') format('svg');
}


.font-pisan{
	font:30px/34px 'PisanNormal',Georgia,Times,serif;
}


.fancy-serif-font{
	font:30px/34px 'Gazelle',Georgia,Times,serif;
}

.font-shangrila, .fancy-ornamental-font{
	font: 27px/36px 'ShangriLaNFRegular', Verdana, sans-serif;
}

/* Font usage examples:
h1.fontface-gazelle {font: 60px/68px 'GazelleFLFRegular', Arial, sans-serif;letter-spacing: 0;}
p.style1 {font: 18px/27px 'GazelleFLFRegular', Arial, sans-serif;}

h1.fontface {font: 60px/68px 'PisanNormal', Arial, sans-serif;letter-spacing: 0;}

p.style1 {font: 18px/27px 'PisanNormal', Arial, sans-serif;}

h1.fontface {font: 60px/68px 'ShangriLaNFRegular', Arial, sans-serif;letter-spacing: 0;}
p.style1 {font: 18px/27px 'ShangriLaNFRegular', Arial, sans-serif;}
p.style2 {font: 18px/27px 'ShangriLaNFSmallCapsRegular', Arial, sans-serif;}
*/



p {
	margin: .5em 0 .5em 0;
}
hr {
	margin:1em auto 1em auto;
	border: 0;
	width: 90%;
	color: #800000;/*maroon*/
	background-color: #800000;/*maroon*/
	height: 1px;
	margin-top:.3em;
	margin-bottom:.3em;
}

h1, h2, h3, h4, h5, h6, .subtitle, .title {
	font: 27px/36px 'GazelleFLFRegular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	letter-spacing: 0;
	text-align:center;
	margin-top: 3px;
	margin-bottom: 3px;
	background-color:#303030; background-color:rgba(55, 55, 55, 0.7);
	color:#cccccc;
}
h1, h2, .title {
	color:black;
	background-color:#BDB76B;/*DarkKhaki*/
	color:#000000;
	font-weight:bolder;
	text-align:center;
	/*font-size:1.5em;*/
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:.1em;
}
h2 {
	margin: .1em auto .1em;
	width:50%;
	background: lightblue;
	font-family: "univers bold condensed", impact, haettenschweiler, sans-serif;
	letter-spacing:0.1em;
	font-weight:normal;
	-moz-transform:rotate(1deg);
	-webkit-transform:rotate(1deg);
	-o-transform:rotate(1deg);
	transform:rotate(1deg);
}
h1, .player-info .player-name {
	background: #291F16;
	background: rgba(129, 45, 12, 0.5);
	color: #B3B286;
	border-bottom: none;
	padding-left:0;
	padding-right:0;
	font: 30px/34px 'GazelleFLFRegular', "edding-780-1","edding-780-2", Charcoal, serif;
	letter-spacing: 0;
	width:100%;
	margin: 0 7em inherit 7em;
	text-shadow: black 2px 2px 3px;
}
h3 {
	font: 18px/24px;
}
h4 {
	font: 16px/20px;
}
h5 {
	font: 14px/18px;
}
h6 {
	font: 10px/14px;
}

/* Experimental css3 for the staff page*/
.ninjawars-staff h1 {
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	padding: 10px;
}
.ninjawars-staff h3 {
	border-radius: 5px;
	padding: 5px 5px 5px 15px;
	box-shadow: -10px -10px 0px #666;
}

.ninjawars-staff #open-source-repository h3 {
	background-color: hsla(0,100%,50%,0.3);
	border: none;
	border-image: url(/images/border.png) 27 27 27 27 stretch stretch;
	text-shadow: white 0px 0px 4px, #FF3 0px -5px 4px, #FD3 2px -10px 6px, #F80 -2px -15px 11px, #F20 2px -25px 18px;
	font-size: 30px;
}

.ninjawars-staff #latest-commit {
	color: pink;
	background-color: hsla(0, 100%, 50%, 0.3);
}
.ninjawars-staff #latest-commit-section {
	width: 97%;
	height: 7em
	border: 1px solid white;
	resize: vertical;
	overflow: auto;
	/*border-image: url(/images/border.png) 27 27 27 27 stretch stretch;*/
	margin-bottom: 1em;
	max-height:20em;
}
/* The css for the homepage and the css for the staff page latest commit info is different, see below for the staff page version */

/* Staff page stuff */
#latest-commit-section { /* Not on the main homepage */
	font-size:1.1em; margin: auto 1em 1em;
}

#latest-commit {
	border-bottom: thin green dashed;
	padding-left: .5em;
	color: greenYellow;
}

#product-languages, #product-languages iframe{
	display:inline-block;margin:0.5em auto;min-width:30%;
}

.doshin-office .description {
	text-align:left;
	-moz-column-count: 3;
	-moz-column-gap: 1em;
	-moz-column-rule: 1px solid #333;
	-webkit-column-count: 3;
	-webkit-column-gap: 1em;
	-webkit-column-rule: 1px solid #333;
	padding-bottom:.5em;
}

.doshin-office .description p {
	text-indent: 20px;
}


/* End of experimental css3 for the staff page */



.clan-members .subtitle {
	background-color:#BDB76B;/*DarkKhaki*/
	color:black;
}
#ninjawars-title {
	font: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; /*'JRandomCRegular', */
	font-size:larger;
	color:#800000;/*maroon*/
	padding: 3px;
}
#ninjawars-title img {
	vertical-align:middle;
	max-width:100%;

}

#nin1 {
	color:#A52A2A;
}
#nin2 {
	color:red;
}
#nin3 {
	color:orange;
}

ul {
	list-style-type: none;
	margin-left:1.5em;
}


select {
	font-family:Verdana, Arial, sans-serif;
	font-size: medium;
}

a {
	text-decoration: none;
	font-weight: bolder;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #4682B4;
	/*font-family: Arial Black, Impact, Tahoma Bold, sans-serif;*/
	/*CadetBlue/YellowGreen/Turquoise/Tomatoe/SteelBlue/SlateBlue/Sienna/Brown/Chartreuse/Crimson*/
}
a:hover {
	color: white;
	text-decoration: underline;
	text-shadow: white 1px 1px 2px;
}

/*
a:link {} a:visited {} a:active {}
*/

.avatar img {
	width:80px;
	height:80px;
}

.member-info span {
	display: block;
	text-align: center;
	margin-bottom: 2px;
}

.member-info .original-creator {
	text-shadow: black 2px 2px 2px;
}

.player-info .avatar {
	float:right;
}

.stats-avatar{
	width:100%;
	position:relative;
}

.stats-avatar .avatar{
	position:absolute;
	top:0;
	right: 0;
}

img#class-shuriken {
	width:20px;
	height:17px;
}
/* Clan avatar css set in the .member section. */

#menu a { /*Menu actions are a lighter blue to pop better on the red */
	color: #6495ED;/*CornflowerBlue;*/
}
#menu label {
	font: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

.extLink, a.extLink, .extLink a, #menu.extLink, #menu.extLink a, #menu a.extLink {
	color: SlateBlue;
	background: url(/images/externalLinkGraphic.gif) right center no-repeat;
	padding-right: 15px;
}

a.show-hide-link {
	background: url(/images/show_and_hide.png) left center no-repeat;
	padding: 0 16px;
	color:gray;
}

ol.aboutUpper {
	list-style-type: upper-roman;
	margin-left: 0;
}
ol.aboutLower {
	list-style-type: lower-alpha;
	margin-left: 0;
}

.formbutton, .formButton, input[type=submit] {
	background:black;
	color:SkyBlue;
	font-weight:bold;
}
input.shopButton {
	width: 100px;
}
input.formButton, input.shopButton, input[type=submit] {
	font-family:Verdana,Arial,sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	padding:5px;
}
input.formButton:hover, input.shopButton:hover, input[type=submit]:hover, input.formButton:active, input.shopButton:active, input[type=submit]:active{
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
	color:black;
	background-color:skyblue;
}
input.textField {
	font-family:Verdana, Arial, sans-serif;
	font-size:small;
}
div.description, p.description{
	text-align: center;
	border-bottom: thin solid #ccb094;
	border-bottom: 2px solid rgba(204, 176, 148, 0.3);
	margin-top: 10px;
	margin-bottom: 20px;
}
form input#become-a-ninja {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
fieldset {
	border:2px groove #800000;
	margin-bottom: .5em;
	padding-left: .5em;
	padding-bottom: .5em;
}
form#signup {
	margin-top: 1em;
	margin-bottom: 1em;
}
form#signup label {
	float:left;
	clear:left;
	margin-right:1em;
	text-align:right;
	display:block;
	font-weight:bolder;
	min-width: 8em;
}
form#signup input:focus, form#signup select:focus {
	color:black;
	background-color:white;
}
form#signup fieldset span {
	float:left;
	font-style:italic;
}
legend {
	padding: 0.2em 0.5em;
	margin-right: 2em;
	border:2px solid #800000;
	color:#ffffff;
	font-weight:bolder;
	font-size:90%;
	text-align:center;
}



/*TABLES, general and specific */

table {
	border-collapse:collapse;
	border:none;
	font-size: medium;
	font-family: arial, helvetica, sans-serif;
	background-color:#333333;
}
.outer-table {
	border-top: 1px solid DarkKhaki;
	border-left: 1px solid DarkKhaki;

}
th {
	text-align: center;
	font-weight: bold;
	vertical-align: baseline;
}
td {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0;
	padding-bottom:1px;
}
/*
.odd {
	background-color:#3D3D3D;
}
.even {
	background-color:#333333;
}*/
tr.oddeven:nth-child(odd), .oddeven tr.td:nth-child(odd) {
	background: rgba(201, 201, 201, .1);
}
table.playerTable {
	width: 100%;
	/*background-color: #ccb094;*/
	line-height: 0.8;
}
.playerTable tr:nth-child(odd){
	background: rgba(201, 201, 201, .1);
}
table.playerTable .classCell div {
	height:100%;
	width: 60%;
}
table.playerTable .classCell img {
	vertical-align:middle;
}
table.playerTable a{
	text-shadow: black 1px 1px 1px;
}
/*
table.playerTable tr.odd{
	background-color:#3D3D3D;
}
*/

/* Profile and Player list Class Colors */
.class-name{
	padding-right:.3em;
	padding-left:.3em;
}
table.playerTable .Red, .player-info .Red, .class-name.Red{ /* Class Colors */
	color:red;
	background-color:black;
}
table.playerTable .White, .player-info .White, .class-name.White{
	color:white;
	background-color:black;
}
table.playerTable .Blue, .player-info .Blue, .class-name.Blue{
	color:blue;
	background-color:white;
}
table.playerTable .Black, .player-info .Black, .class-name.Black{
	color:black;
	background-color:white;
}

table.playerTable .Gray, .player-info .Gray, .class-name.Gray{
	color: gray;
	background-color: black;
}
/* Like, ninja class, not the other kinds */
.class-name{
	font-weight:bold;
	font-style:italic;
}

.player-status, .ninja-error {
	margin: 0 auto 0;
	display:inline-block;
	border: 1px solid #BDB76B;/*DarkKhaki*/
	-webkit-border-radius:16px;
	-moz-border-radius:16px;
	-op-border-radius:16px;
	border-radius:16px;
}

/* Note that ninja-error is used below as well. */

.your-stats #player-profile-section {
	margin: 10px 0 10px 0;
	text-align: center;
	clear:both;
}
.your-stats #player-profile {
	border:1px solid gray;
}

.player-profile {
	margin: .1em auto .1em;
	width: 80%;
}

.profile-message {
	overflow: auto;
	max-height: 10em;
	padding-bottom: 4em;
}

.your-stats #profile-edit {
	float:left;
}
.your-stats hr {
	clear:both;
}

.ninja-description{
  padding:0.3em 1em;background-color:rgba(200, 200, 200, 0.1);
}
.ninja-traits{
  font-style:italic;
}
.two-column {
  width: 100%;
  clear: both;
}
.two-column .primary {
  display:inline-block;
  width: 45%;
  min-width:20em;
  padding-left:5%;
  margin-top:1em;
  vertical-align:top;
}
.two-column .secondary {
  margin-top:1em;
  display:inline-block;
  width:47%;
  min-width:20em;
  vertical-align:top;
}
#profile-edit, #player-profile-area{
  width:90%;
}
fieldset#details textarea{
  display:block;
  width:100%;
}
fieldset#details textarea + textarea{
  margin-top:1.5em;
}
.your-stats input[type=submit]{
  color:ghostwhite;
  background-color:#617798;
background: #04667a; /* Old browsers */
background: -moz-linear-gradient(top, #04667a 0%, #207cca 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04667a), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #04667a 0%,#207cca 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #04667a 0%,#207cca 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #04667a 0%,#207cca 100%); /* IE10+ */
background: linear-gradient(to bottom, #04667a 0%,#207cca 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04667a', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
  border-radius:0;
  border:0;
  margin-top:1em;
  padding:.7em 1em;
}
.your-stats input[type=submit]:hover, .your-stats input[type=submit]:active{
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  color:red;
}
.two-column ul{
  margin-left:.3em;
  padding-left:.3em;
}
#switch-to-account{
  font-size:1.3em;
  margin-top:1em
}
#switch-to-account a{
  color:skyblue;
}
.secondary .glass-box{
  display:block;
}
.turns-count{
  background-color:#003366;
  color:ghostwhite;
  padding:0 1em;
}
.your-stats .turns-count{
  display:inline-block;
}



#player-attack .attacking-choices {
	border:none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color:transparent;
}
#player-attack span.duel, #player-attack .blaze, #player-attack .deflect {
	border:none;
	padding: 1px;
}
#player-interact #skills-section, #player-interact #inventory-items {
	border:none;
	padding: 5px;
	text-align: center;
}
.obtained-item{
	font-weight:bold;
	color:#bee;
}
.wrath{
	text-shadow:1px 1px 3px red;
}


#skills-list form {
	margin-top:.5em;
	margin-bottom:.5em;
}

.playerTable th {
	text-align: left;
	background-color: #555555;
	padding-left: .8em;
	padding-bottom: .4em;
	padding-top:.3em;
}
.playerTable td {
	line-height: 1.6em;
}
td.playerTable {
	text-align: left;
	background-color: #333333;
}
.playerTable .levelCell {
	padding:0;
	line-height:1.5;
}
.playerTable .levelCell div {
	height:100%;
	width:60%;
}
.playerTable .novice, .player-info .novice { /* Level categories */
	color:black;
	background-color:LightGray;
}
.playerTable .acolyte, .player-info .acolyte {
	color:black;
	background-color:DarkGray;
}
.playerTable .ninja, .player-info .ninja {
	color:maroon;
	background-color:black;
}
.playerTable .elder-ninja, .player-info .elder-ninja {
	color:DarkKhaki;
	background-color:#8B0000;
}
.playerTable .master-ninja, .player-info .master-ninja {
	color:white;
	background-color:maroon;
}
.playerTable .shadow-master, .player-info .shadow-master {
	color:black;
	background-color:red;
}
.DeadRow td, .DeadRow td div, .DeadRow td span {
	background-color: black !important;
	color:gray !important;
}
.DeadRow .classCell {
	color:black !important;
	background-color:black !important;
}
.DeadRow .levelCell {
	color:gray !important;
	background-color:black !important;
}


.DeadRow a {
	color: rgb(40, 40, 160); /*Darken links to dead players */
}

/* COLUMNS */
#leftColumn {
	 width:20%;
	 float:left;
	 /*padding-left:10px;*/
}
#centerColumn {
	 width:80%;
	 float:left;
	 min-height:600px;
	 height:100%;
}

#logo {
	 /*width:10%;*/
	 text-align:center;
	 display:block;
	 margin-top:10px;
	 margin-bottom:10px;
}
#logo img {
	width:50px;
	height:42px;
}
#logo-appended {
	display:inline-block;
}
#solo-page-header {
	display:none;
}
#solo-page-login-link, #solo-page-signup-link {
	margin-top: 1em; display:inline-block;
}
body.solo-page #solo-container {
	padding: 10px 30px 10px 30px;
}
body.solo-page h1 {
	margin-bottom:.5em;
}
body.solo-page #solo-page-header {
	display: block;
}
body.solo-page h1 {
	display:block;
	clear:both;
}

.main-body { /* For the index page's background image only. */
	min-width: 800px;
}


.brownTitle { /*deprecated*/
	color: #ff9900;/*ccb094;*/
	font-weight: bold;
	text-align: center;
}

.brownHeading {/*deprecated*/
	color: #D26600/*ff3300FEDB32*/;
	font-weight: bold;
}


#menu {
	width:100%;
	height:40px;
	line-height: 40px;
	/*font-size:12px;*/
	padding:0;
	margin: 0;
	text-align:center;
	border-bottom:maroon thin solid;
	background:#4f0101 bottom url("../images/bg_top_maroon.jpg") repeat-x;
}
#menu ul {
	float:left;
	display:inline;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}
#menu-start {
	height:100%;
	float:left;
	text-align:left;
}
.play-button {
	margin:0;
	padding:0;
	width:12px;
	height:10px;
	display:inline;
}
#menu-info {
	height:100%;
	float:left;
	text-align:center;
}
#menu-info ul {
	padding: 0 .3em 0;
}

.centered {
	text-align: center;
}

.created-by {
	display:none;
	margin-top:10px;
	margin-bottom: 30px;
	text-align: center;
	color:darkGray;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 10px;
}
.boxes {
	padding: 3px 0 3px 5px;
}
.splash .boxes {
	padding: 0;
}
.boxes .box-title {
	background: #006633;color:gainsboro;font-weight:bold;font-variant:small-caps;
	text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.main-body .active .box-title {
	background: #330000;
}
.main-body .passive  .box-title{
	background: #336600;
}

.main-body .special {
	background:none;
	text-align:center;
}
.boxes ul {
	padding-left:10px;padding-right: 0;margin-left:0;margin-right:0;
	margin-top:0;
	margin-bottom:0;
	list-style-image:none;
	list-style-type:none;
}
.boxes ul ul {
	list-style-type:circle;
	padding-top:0;
	margin-top:0;
	padding-bottom:0;
	margin-bottom:0;
	padding-left:15px;
}

#leftColumn .box-title {
	text-align:center;
}
#rightColumn .box-title {
	text-align:center;
}

#three-columns { /* contains all the columns */
}
.column { /* class for repeated columns */
	overflow:auto;
}

/* IFRAMES */
iframe {
	border:none;
}

#mini_chat { /* iframe itself */
	width:100%;
	height:99%;
	border: 0;
}
#mini-chat-container { /* div */
	width:100%; overflow:auto; margin-top:0.5em; margin-bottom:1em;
}
.chat-collapsed {
	max-height: 300px;
}
.chat-expanded {
	height: 880px;
}
.active-members-count {
	font-size:smaller;
	font-style:italic;
	color:gray;
}

#latest-message-title {
	display:block;
}
#recent-mail {
	height:2.7em;
	width:100%;
	overflow:hidden;
}
#recent-event {
	max-height:2.5em;
	width:100%;
	overflow:hidden;
}


.chat-messages, #message-list {
	margin-top:0;
	list-style-type:none;
}
.chat-messages dt, #message-list dt {
	clear:left;
	float:left;
	margin-right: .5em;
}
.chat-messages .chat-message a {
	font-size:smaller;
}
.chat-messages dt a { /* Breaks the formatting if the a is too large. */
	font-size:1em;
	font-size:smaller;
}
.chat-messages .chat-time, #message-list .message-time {
	font-family: Trebuchet MS1, Helvetica, sans-serif;
	font-size: .8em;
	font-style:italic;
	color: gray;
	display:inline-block;
        margin-left:1em;
}

#full-chat{
	margin-left:1em;
}
#full-chat .chat-messages {
	font-size:1em;
}

#post_msg {
	margin-top:0;
	margin-bottom:0.5em;
}

.quickstats {
	margin: 0;
}

#quickstats {
	width: 100%;
	height: 6em;
	border: 0;
}
#quickstats-and-switch-stats a {
	font-size: 85%;
}
#quickstats-and-switch-stats .centered {
	margin-bottom: 1em;
}

/*Quickstats styles*/
.quickstats dt {
	clear: right;
	float: left;
	margin-right: .2em;
}

.quickstats dd {
	margin-left: 50%;
}

.quickstats {
	width:90%;
	margin-right: auto;
	margin-left:auto;
}


/* End of IFRAMES */


/* Splash page specific stuff */

.splash #top-logo{
  width:50%;text-align:center;display:inline-block;vertical-align:top;line-height:40px;margin-left: 2em;margin-right: 2em;
}
.splash #menu-map-head{
  font-size:xx-large;margin-right:.5em;
}
.splash .doshin-image{
  width:8px;height:8px;
}
.splash #top-logo h1{
  display:inline-block;width:30%;font:30px/34px 'GazelleFLFRegular', "edding-780-1","edding-780-2", Charcoal, serif;vertical-align:middle;margin:0;padding:0;background-color:transparent;
  text-align:right;
}
.splash #top-logo h1 + h1{
	width:60%;text-align:left;
}
.splash #feedback-link a{
  font-size:2em;
}
.splash #news-housing{
  height:80px;
}
.splash #chat-housing{
  height:250px;
}


/* Index page specific stuff */

#logo-appended{
	position:absolute;
	top:0;
	left:0;
}

#index-header{
	height:20%;
}

#core{
	/* Header height is about 20%, so core should be about 80 */
	position:relative;width:100%;height:75%;min-width:400px;min-width:400px;
}
#left-column{
	display:inline-block;
	width:5%;
	height:100%;
	background:red;
}

#main-column{
	width:57%;height:100%;min-height:30em;left:0;top:0;padding-left:3%;
}

.main-iframe { /* class for the main iframe */
	 height:93%;/*Iframe height doesn't inherit from its container, it inherits from the page, so must match the core & main-column height defined before it above (and they must be defined above).*/
	 min-height:40em;
	 width:100%;
	 border:0;
}

#sidebar-column{
	position:absolute;width:33%;height:100%;right:0;top:0;padding-top:0.7em;
}

#skip-to-bottom{
	display:block;
	padding:.5em;
	position:absolute;
	bottom:17%;
	left:0;
	background-color:#666;
	background-color:rgba(100, 100, 100, .3);
	text-transform:uppercase;
}
a#skip-to-bottom{
	background-color:#666;
	background-color:rgba(100, 100, 100, .5);
	text-decoration:none;
}

#skip-to-bottom::after{
	display:block;
	text-align:center;
	content:'▼';
	color:#666;
	font-size:2em;
	text-decoration:none;
}

#index-footer {
	text-align: center;
	min-height:3%;
	width:100%;
	opacity:.96;
	border-top:1px solid #666;
}

#index-footer a, #stats-footer a {
	color: gray;
	text-decoration: underline;
	font-weight: normal;
	border: 3px solid transparent; /* Should correspond to the border width on hover below. */
	margin:.2em;
}

#index-footer a:hover , #stats-footer a:hover{
	-webkit-transition-property: all;
	-webkit-transition-duration: 900ms;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: initial;
	border-color: white;
	color:white;
}

#stats-footer{
	font-size:smaller;
	margin-top:3em;
}
#stats-footer #footer-top-bar{
	text-align:center;
}

#footer-top-bar{
	padding:.5em 0;
	color:#999;
	background-color:#333;
	border-bottom:1px solid #666;
}
#footer-middle-bar{
	color:#D9D9D9;
	background-color:#2A2A2A;
}
#footer-bottom-bar{
	color:#666;
	background: #111;
}

#created-by{
	display:inline-block;
}
#authors{
	display:inline-block;
}
#authors .author{
	display:inline-block;
}
#authors .author a{
	display:block;
	margin-top:.3em;
}

#footer-authors{
    display:block;
    min-height:3.5em;
	list-style-type:none;
}
#footer-authors .author{
    display:inline-block;
    width:300px;
    min-height:80px;
    margin-left:10%;
    position:relative;
}
#footer-authors .avatar{
    position:absolute;
	left:0;
	top:0;
	margin:0;
	width:80px;
	height:80px;
}
#footer-authors .author a{
    display:inline-block;
    margin-left:100px;
    margin-top:0;
}
#html5-integration{
    display:block;
    margin-top:-1em;
}


#music-player {
	width:70px;
	height:24px;
}

#heal-link {
	font-size: 1.2em;
}

#combat-link {
	font-size: 1.2em;
}

#ninja-count p {
	margin:0;
}

/* End of Index page stuff */


.textField {
	background-color:black;
	color:white;
}

/* Login menu and login-bar config */
.login-menu { /* See also the #menu entry */
	font-family: helvetica,Verdana,sans-serif;
}
.login-menu #menu-start {
	width:50%;
	font-size:15px;
}
.login-menu #menu-start .logged-in-bar {
	padding-left: .5em;
}

.login-menu #menu-info {
	width:40%;
}

.login-menu #menu-end {
	width:10%;
}

.login-menu #menu-end span {
	padding-right: .5em;
}

#login-bar {
	margin:-2px 17px 0;
}
#login-bar .itext {
	width: 100px;
	height: 15px;
	background:maroon;
	color:#66cc66;
	/*border: 0;*/
	font-weight:bold;
}
#login-bar label {
	font-weight:bold;
}
#login-bar form {
	margin:0;
}
#login-bar form input {
	height:1.5em;
	vertical-align: middle;
}
#login-bar form #login-button {
	height:2em;
	vertical-align:middle;
	padding: .1em .2em .1em;
}
#login-bar div.text {
	/*color:#707E77;*/
	/*color:lightGreen;*/
	font-size:15px;
	line-height:30px;
	vertical-align:middle;
}
#login-bar div.text a, #login-bar div.text span, #login-bar div.text label {
	font-size:11px;
}

/* Errors and Notices and the Like */

.ninja-error {/* Note that ninja-error is used above as well. */
	color:#F4A83D;
	background-color:#660000;
	border-bottom:1px solid #D6800C;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-weight:bold;
	font-variant:small-caps;
	font-size:120%;
	padding: 3px;
}

.ninja-notice {
	color:#BD7A26;
	background-color:#1D0F00;
	font-family: Tahoma, Geneva, sans-serif;
	text-align:center;
	font-weight:bold;
	padding: 3px;
	border-top-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
	border-color: rgb(0, 0, 0);
	border-color: rgba(0, 0, 0, 1);
	text-shadow: black 2px 2px 4px;
}

.shadowed{
		color:rgba(200, 200, 200, .5);
		text-shadow:2px 2px 2px gray;
}

.comforting{
		color:lightgreen;
}

.player-status.ninja-notice{
	color:orange;
	background-color:#660000;
	border-color: rgb(0, 0, 0);
	border-color: rgba(0, 0, 0, 1);
}

.injured, .Injured, #health-status .injured {
	font-weight:bold;
	color:black;
	background-color:#c75600;
	border: 1px solid #c75600;
}
/*
.player-clan .subtitle {
	background-color:white;
}*/
.clan-members .injured {
	background-color:maroon;
	color:black;
}

.clan-members .injured a:link {
	color: black;
}

.clan-members .injured a:visited {
	color: black;
}

.Frozen {
	background-color:#87CEEB;
	font-style:italic;
	color: red;
}

.error {
	text-align:center;
	color:Red;
	background-color:Gold;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight:bold;
	font-size:150%;
	padding: 3px;
}

.notice, .informational {
	color:#B1B187;
	background-color:#2F2F28;
	border-top:thin dashed #48442F;
	border-bottom:thin dashed #48442F;
	font-family: 'Lucida Console', Monaco, monospace;
	text-align:center;
	font-weight:bold;
	font-size:130%;
	padding: 3px;
	background: -webkit-linear-gradient(left, black, #2F2F28, black);
	background: -moz-linear-gradient(left, black, #2F2F28, black);
	background: -ms-linear-gradient(left, black, #2F2F28, black);
	background: -o-linear-gradient(left, black, #2F2F28, black);
}

.notice a, .informational a {
	color:skyblue;
	font-family: ‘Lucida Console’, Monaco, monospace;
}

/*List all players and player profile styles*/
.active-players ul, .clan-members ul {
	margin:0;
	padding:0 0 0 1em;
	border:1px dashed #00008B;
	overflow:hidden;
}
.active-players li, .clan-members li {
	display: inline;
	list-style-type: none;
	padding-right: 5px;
}
.player-list-nav .current-page {
	color:gray;
	border:thin #313 solid;
}
.player-list-nav .page-counter {
	font-family:Verdana,Arial,san-serif;
	font-size:x-small;
	text-align:center;
}
.player-list-nav a {
	text-decoration:none;
}
.player-list-nav form {
	margin:0;
	padding:0;
	text-align:center;
	font-weight:bold;
}
.player-info .clan-members {
	text-align:center;
}
.player-info .player-stats, .player-info .player-clan {
	margin-bottom: 1.5em;
}
.player-info #player-titles{
	font-size:1.5em;
}

/* Player profile page styling */

#player-interact{
	width:100%;
	text-align:center;
	padding:1em;
}
table#player-attack {
	width:100%;
	font-size:1.5em;
	text-align:center;
	margin:0;
	padding:0;
	background-color:transparent;
}

.player-info .Dead {
	background-color:maroon;
	color:red;
}

.enemy-list .enemy-dead, .status-dead {
	background-color:#202020;
	color:maroon;
}
.status-dead a{
	background-color:#202020;
	color:maroon;
}
.ninja-notice.death{
	font-size:1.5em;
}
#recent-attackers li {
	display:inline;
	margin-right: 1em;
}

.player-info .Stealthed {
	background-color:gray;
	color:#1F0F05;
	text-shadow:none;
}
.red {
	color: #DC143C;
	background-color:red;
}
.hidden {
	display:none;
}
.skill_use {
	margin-top: .5em;
}
.attack-player-trigger {
	display:block;
	margin-top: 1em;
	cursor: pointer;
}

/* Clan leader options */
#leader-panel {
	width: 40%;
	float:left;
	text-align: center;
	border: thin solid white;
	padding-bottom: 5px;
}
#leader-panel ul {
	list-style-type: none;
	margin: 3px;
	height: 2.3em;
}
#leader-panel li {
	width: 49%;
	float: left;
}
#leader-options {
	padding: 5px;
	width: 100%;
}
#leader-panel-title {
	font-weight: bold;
	text-align: center;
}
#clan-options {
	width: 50%;
	float: right;
	list-style-type: none;
}

/* Player tags */
#player-tags .player-tag {
	float:left;
	margin-right: 1em;
}

/* Clan info section */
#clan-avatar-section {
	max-height:110px;
	max-width:650px;
	overflow:auto;
}

#clan-avatar-section #clan-avatar {
	max-height:100px;
	max-width:600px;
}

/*  Clan tags section */
#clan-tags {
	clear: both;
	padding-top: 3px;
}
.clan-tag {
	color: blue;
	background-color: maroon;
	background-color:rgba(128, 0, 0, 0.7);
	float:left;
	margin: 5px;
	list-style-type: none;
	padding: 0px 8px 0 8px;
}

/* Clan member tags styles */
#clan-members .member, #player-tags .player-tag a {
	color: #F1D98C;
	background-color: #712800;
	padding-left: .3em;
	padding-right: .3em;
}
#clan-members {
	clear: both;
	margin-top: 3px;
}
#clan-members ul {
	list-style-type: none;
}
#clan-members-title {
	margin-bottom: 3px;
}
#clan-members-count {
	margin-bottom: 1em;
	text-align: center;
}
#clan-members .member-info {
	float:left;
	margin:5px;
}
/*
#clan-members .member {
	color: #F1D98C;
	background-color: #712800;
	padding-left: .3em;
	padding-right: .3em;
}*/

/*  End of Clan Tags section */

#clan-tags .size10 { /* Reverse the biggest tag color */
	color: maroon;
	background-color: #4682B4;
	font-family:tahoma, sans;
}
#clan-tags .size10 a {
	color: maroon;
	background-color: #4682B4;
	font-family:tahoma, sans;
	text-shadow: black 2px 2px 2px;
}
.size10 {
	font-size: 5.5em;
}
.size9 {
	font-size: 5em;
}
.size8 {
	font-size: 4.5em;
}
.size7 {
	font-size: 4em;
}
.size6 {
	font-size: 3.5em;
}
.size5 {
	font-size: 3em;
}
.size4 {
	font-size: 2.5em;
}
.size3 {
	font-size: 2em;
}
.size2 {
	font-size: 1.5em;
}
.size1 {
	font-size: 1em;
}

#page-404 {
	background-color: black;
	color: white;
}

.q-and-a .question {
	color: #D26600;
	font-weight: bold;
}

.q-and-a .answer {
	text-align: justify;
}
.developers .developer{
		margin:1em;
}
.developers h5{
	background-color:transparent;
}
.developer {
	border-left:thin #8B0000 solid; border-top:thin #8B0000 solid; 
	border-left:thin rgba(139, 0, 0, 0.8) solid; border-top:thin rgba(139, 0, 0, 0.8) solid;
	margin: .5em 0 .5em 0; padding: .3em 0 .5em .2em;
}

.developer .social-networks {
	color:#cc3333;font-weight:bold;
}

.developer .developer-image {
	float:right;
	vertical-align: bottom;
}

.other-credits ul {
	list-style-type:square;
}

#project-languages tr {
	background-color:white;
}

#page-404 {
	font-size: 1.5em;
}
#page-404 p {
	margin-bottom: .5em;
}

#page-404 #support-email {
	font-size: .8em;
}


/* User Messages Page */

.message-unread, .event-unread {
	font-weight:bold;
	background-color:DarkSlateBlue;
	color:white;
}
#messages-icon {
	height:15px;
}

#message-inbox {
	font-size: 1.3em;
	font-weight:normal;
}

#clan-mail-section {
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	float: left;
}

.messages #ninja-search {
	margin: 10px;
	width:30%;
	float:left;
	margin-left:auto;
	margin-right:auto;
}

.messages ul {
	padding-left:5px;
}

.messages h2 {
	margin: 0 0 5px 0;
}

.messages #clan-and-search {
	margin: 0;
	padding: 0;
	clear: both;
}

.messages #delete-messages {
	float:left;
	width:20%;
}

.messages #message-list {
	clear:both;
}

.message-nav {
	margin-top:1em;
	clear:both;
}

#clan-mail-section form {
	margin-left:auto;
	margin-right:auto;
}

#clan-mail-section textarea {
	width:50%;
	height:3em;
	margin-left:1em;
}

#message-sent-to {
	clear:both;
}

.player-communications .FormButton {
	display:block;
}
.events #event-list {
	padding:0 0 0 1em;
}

/* NEW INDEX REWRITE CSS */


.header-section {
	height:5.5em;
}
#ninjawars-home {
	background-color:black;
	color: white;
}
#logged-in-bar {
	margin-left:1em;
	width:100%;
	font-size:1.5em;
}

#reactive-panel {
	height:130%;
	position:relative;
}

#logout {
	float:right;
	margin-right: 4px;
}

#logout a {
	font-variant:small-caps;
	height: 100%;
	width: 100%;
}


/* reactive-panel subparts */
#category-bar {
	margin: 0;
	height:70%;
	width: 100%;
	font-size: 1.7em;
	font: 27px/36px 'ShangriLaNFRegular', Verdana, sans-serif;
	/*font:30px/34px 'PisanNormal',Georgia,Times,serif;*/
	letter-spacing: 0;
	text-transform:uppercase;
	padding-bottom:.2em;
}
#category-bar ul {
	height:100%;
	z-index:3;
}
#category-bar li {
	margin: 0;
	padding: 0;
	width:33%;
	height:100%;
	float:left;
	text-align:center;
	display:inline-block;
}
#category-bar a {
	/*font:30px/34px 'PisanNormal',Georgia,Times,serif;*/
	font: 33px/44px 'ShangriLaNFRegular', Verdana, sans-serif;
	letter-spacing: 0;
}
#category-bar a img {
	vertical-align:top;
}

#subcategory-bar {
	height:20%;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	background-color:#330000;	
	color:white;
	padding: 0 0 .5em;
	position:relative;
	top:-25%;
	overflow:hidden;
}
.splash #subcategory-bar{
	top:0;
}
#subcategory-bar a {
	font: 21px/32px 'ShangriLaNFRegular', Verdana, sans-serif;
}
#subcategory-bar a:hover {
	text-decoration:none;
}

#subcategory-bar ul {
	margin: 0;
	padding:0;
	width:30%;
	height:100%;
}
.splash #subcategory-bar ul{
	overflow:hidden;
}

#subcategory-bar li {
	display:inline-block;
	margin: 0;
}
#subcategory-bar ul#self-subcategory {
	position:absolute;
	left:0;
	top:0;
}
#subcategory-bar ul#combat-subcategory {
	position:absolute;
	left:33%;
	top:0;
}
#subcategory-bar ul#map-subcategory {
	position:absolute;
	right:0;
	top:0;
}

.faq .brownHeading, .faq hr {
	margin-top:.5em;
	margin-bottom:.2em;
}

/* End reactive-panel */

/* Signup form */
form #signup .submit {
	margin-top:2em;
}
select option #red-class-select {
	color:maroon;
}
select option #black-class-select {
	background-color:black;
	color:white;
}
select option #white-class-select {
	font-weight:bold;
}
select option #blue-class-select {
	color:blue;
	font-weight:bold;
}

.usage-mod-result {
	margin-top: 10px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: 1px solid gray;
	padding: 10px;
}

.debug {
	border:2px red dashed;
	font-size: larger;
	color:white;
	background-color:black;
	font-weight:bold;
}

/* =================== Npc related styles =============== */

#npc-list{
	text-align:left;
}

#npc-list li {
	margin: .2em .3em .2em .2em;
	display:inline;
	margin-left: 1em;
	white-space: nowrap;
	min-height:2em; 
	min-width:5em;
	/*list-style-type:circle;
	background-color:purple;*/
}
#npc-list ul {
	margin:0;
	padding:0;
}

.npc{
	font-style:italic;
	text-shadow: rgb(11, 9, 9) 2px 2px 2px;
}


/* Use the .speech class for character speech */
.speech{
	font-style:none;
	color: rgb(250, 200, 50);
}
.speech:before{
	content: '"';
}
.speech:after{
	content: '"';
}

/* ==================== Character related styles ======== */

/* Class to add to locations that show character names */
.char-name {
	font-style:italic;
	color:#BD7A26;
	background-color:#1D0F00;
}

/* Methods for returning from results pages, large links for easy clickability */
.block{
	display:block;
}

/* ======================== Location/place styles ====================== */

.return-to-location{
	font-size: 1.3em;
	margin-top: 1.7em;
	margin-bottom; .7em;
	margin-left: 1em;
}
.return-to-location:before{
	content: '\00AB';
	margin-right:0.3em;
}


.attack-again{
	display:inline-block;
	padding: .3em;
	border: 2px rgb(20, 30, 100) solid;
	text-shadow: rgb(34, 27, 20) 2px 2px 2px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Mimicing styles */

.link-as-button, .link-to-button{
	display:inline-block;
	padding: .3em;
	border: 3px rgb(190, 190, 190) solid;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:skyblue;
}

/* Back to page level styles */

.unread-count, .unread-count a {
    display:inline-block;
    font-size:10px;
    margin-left:2px;
    padding:1px 5px;
    background:#ddd;
    color:#999;
    font-weight:bold;
    text-shadow:none;
    text-decoration:none;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    color:black;
}
.unread-count:empty{
	padding:0;
}

.unread-count.message-unread, .unread-count.message-unread a {
    background-color:#4183c4;
    color:#fff;
}

#top-bar {
	display:inline-block;
	position:relative;
	top:0;
}

#logo-appended{
	position:absolute;
	top:0;
	left:0;
}

#contact-us img {
	max-width:98%;
}

#nav ul {
	margin:0;
	padding:0;
	list-style:none;
}

#nav li {
	display:inline;
	margin:0;
	padding:0;
}

#logo-placeholder {
	width:100px;
	height:60px;
	display:inline-block;
	vertical-align:top;
	z-index:-1;
}

#nw-catchphrases span {
	display: none;
}

#nw-catchphrases .default {
	display: inherit;
}

.gold, .gold-count {
	color:goldenrod;font-weight:bolder;
}

.account-issues p, .account-issues form{
	margin: 0 .5em;
}

/*
==================================================================================================================================
    Ninjawars Typography Widgets
==================================================================================================================================
*/
.lead{
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 200;
	line-height: 30px;
}

.half-column{
	width:48%;float:left;
}

/* Reusable CSS widgets */
.thick{
	margin-top:.7em;
	margin-bottom:.7em;
}
.thin{
	margin-top:0;
	margin-bottom:0;
}
.zeroed{
  margin:0;
  padding:0;
}
.margined, .walled{
	margin-left:1em;
	margin-right:1em;
}
.centered{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.text-centered{
  text-align:center;
}
.stamp{
  background-color:rgba(100, 100, 100, 0.5);color:ghostwhite;border-left:medium dashed gray;border-right:medium dashed gray;border-radius:0.7em;
  padding:.3em 1em;
}
.top-and-bottom-stamp{
  border-top:1px dashed #cccccc; border-bottom:1px dashed #cccccc;padding:.5em;
}
.star-shocked{
  padding: 0 .3em; font-style:italic; font-size:1.1em;
}


.understated-heading{
  padding:5px; border-top:1px solid #000000; border-bottom:1px solid #000000;text-align:center; background-color:#b8bee0;
}
.overstated-heading{
   font-size:larger;font-weight:bolder; background-color:#633816;color:ghostwhite;
   padding:5px; border-top:1px solid #000000; border-bottom:1px solid #000000;text-align:center;
}

.bold-banner{
  clear:both;text-align:center;font-size:16px;color:white;font-weight:bold;margin:1.5em 0.7em;border-radius:.3em;padding:.8em .5em;
  background-color:pink;color:crimson;
}
.no-accent{
	font-weight:normal;	text-shadow:none; font-size:1.5em;
}
.accent {
	color:#D2691E;font-style:italic;
}
.accent a{
	font-style:normal
}
.title.accent{
	color: #E97451;	font-style:normal;
}

hr.edge-fade { /* Gradient transparent - color - transparent */ 
	border: 0; height: 1px; 
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(134,8,8,0.75), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(134,8,8,0.75), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(134,8,8,0.75), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(134,8,8,0.75), rgba(0,0,0,0)); 
}

.bottom-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	margin-bottom:8px;
}

.glass-box, .glassbox{
	padding:.3em 1em;
}
.slightly-padded{
  padding:0.1em;
}

.nice-notice, .hazy-pop{
  background:pink; color:brown; border:1px solid crimson;text-align:center;font-size:1.5em;
  padding:.5em; margin:1em;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.nice-notice a,.hazy-pop a{
  font-weight:bold;
}
 
.antialiased {
  text-shadow:0 0 2px rgba(0, 0, 0, 0.6);
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.block {
  display: block;
}
.inline-block{
  display:inline-block;
}

.light-background{
	background-color:ghostwhite; background-color:rgba(250, 248, 255, 0.9);
}

a.expand-link{
	background-color:rgba(200, 200, 200, 0.3);padding:0.3em 0.7em;
}
a:hover.expand-link{
	text-decoration:none;background-color:rgba(200, 200, 200, 0.6);
}
a.expand-link:after{
	content:'+'; width:1em; height:1em;padding-left:0.5em;
}
a:hover.expand-link:after{
	font-weight:bold;
}

/* Html5 robust elements */

figure.slide-captioned {
  display: block; position: relative;
  float: left; overflow: hidden; margin: 0 20px 2px 0;
}
.slide-captioned figcaption {
  position: absolute; background: black; background: rgba(0,0,0,0.75); color: white; padding: 2px 4px; opacity: 0; 
  -webkit-transition: all 0.6s ease; 
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
figure.slide-captioned:hover figcaption {
  opacity: 1;
}
figure.slide-captioned:before {
  content: "i";font-style:italic;font-family:Georgia,serif; position: absolute; font-weight: 800; background: black; background: rgba(255,255,255,0.75); text-shadow: 0 0 5px white; color: black; width: 24px; height: 24px;
  -webkit-border-radius: 12px; -moz-border-radius:    12px; border-radius:         12px; text-align: center; font-size: 14px; line-height: 24px; -moz-transition: all 0.6s ease;
  opacity: 0.75;
}
figure.slide-captioned:hover:before {
  opacity: 0;
}

.slide-captioned.cap-left:before {  bottom: 10px; left: 10px; }
.slide-captioned.cap-left figcaption { bottom: 0; left: -30%; }
.slide-captioned.cap-left:hover figcaption { left: 0; }

.slide-captioned.cap-right:before { bottom: 10px; right: 10px; }
.slide-captioned.cap-right figcaption { bottom: 0; right: -30%; }
.slide-captioned.cap-right:hover figcaption { right: 0; }

.slide-captioned.cap-top:before { top: 10px; left: 10px; }
.slide-captioned.cap-top figcaption { left: 0; top: -30%; }
.slide-captioned.cap-top:hover figcaption { top: 0; }

.slide-captioned.cap-bot:before { bottom: 10px; left: 10px; }
.slide-captioned.cap-bot figcaption { left: 0; bottom: -30%;}
.slide-captioned.cap-bot:hover figcaption { bottom: 0; }


/* End of widget styles */


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */


/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px), (max-device-width: 854px) {
	html, body {
		font: 12px/15px sans-serif;
		padding: 3px;
		margin: 0;
		}
	#map-subcategory{
		display:none;
	}
	#combat-subcategory{
		float:left;
	}
	#sidebar-column, #index-footer {
		display: none;
		}
	#main-column{
		width:100%;
		left:0;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		}
	img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		text-align: center;
		}
	a:link, a:visited {
		text-decoration: underline;
		font-weight:bold;
		}
	a:hover, a:active {
		text-decoration: underline;
		font-weight:bold;
		}
}
