<div id='contact-us-page'>
<h1>Ninjawars Staff</h1>

{literal}
<style>
#contact-us-page section{
  margin-bottom:3em;
}
#contact-us-page p{
  margin-right:1em;margin-left:1em;
}
#contact-us-image{
  display:inline-block;
  margin:0 auto;max-width:200px;
}
#contact-us-image-container{
  display:block;
  text-align:center;
}
#contact-us-page #contact-methods{
  margin:.5em 0 3em;
}
#contact-us-page section#company h4{
  width:50%;margin:0.5em auto;
}
ul#social-networks{
  list-style-type:none;
}
#social-networks li{
  display:inline;
  padding-right:.5em;
  margin-right:.3em;
}
ul#social-networks li:before {
  content: "\00BB";
}
#contact-us-page .unadorned-developer{
  color:ghostwhite;
}
</style>
{/literal}

<section id='contact-methods'>
<p>
  The preferred method of contacting us with problems, ideas, or bugs with the game
  is via the <a href="http://ninjawars.proboards.com" rel='nofollow'>Ninjawars Forum</a>.
</p>
<p>
  For private issues, including account/confirmation problems, email us at:   <a href="mailto:'{$smarty.const.SUPPORT_EMAIL_NAME|escape:'url'|escape}' &lt;{$smarty.const.SUPPORT_EMAIL|escape:'url'|escape}&gt;?subject=NinjaWars%20question:%20" rel='nofollow'>{$smarty.const.SUPPORT_EMAIL_NAME|escape} &lt;{$smarty.const.SUPPORT_EMAIL|escape}&gt;
  </a>
</p>
<p>
  <a id='contact-us-image-container' href="mailto:'{$smarty.const.SUPPORT_EMAIL_NAME|escape:'url'|escape}' &lt;{$smarty.const.SUPPORT_EMAIL|escape:'url'|escape}&gt;?subject=NinjaWars%20question:%20" rel='nofollow'>
  <img id='contact-us-image' src='images/contact_us.png' alt='Contact Staff'>
  </a>
</p>
</section>


<section id='company'>
  <h3>Game brought to you by</h3>
  <h4><a href='http://bitlucid.com'>BitLucid, Inc.</a></h4>
</section>

<section class='developers'>
  <h3 class='subtitle'>Developers</h3>
  <div class='developer'>
    <h5><a href="mailto:ninjawarsTchalvak@gmail.com" rel='nofollow'>Tchalvak / Roy Ronalds</a>  - Programmer and Maintainer</h5>
    <ul id='social-networks' class='thick'>
      <li> <a target='_blank' rel='me' href="http://twitter.com/tchalvak" rel='nofollow'><img alt="T" src='{$smarty.const.IMAGE_ROOT}icons/fasticons/Twitter_24x24.png'> @tchalvak on Twitter</a></li>
      <li> <a target='_blank' rel='me' href="http://www.facebook.com/tchalvak" rel='nofollow'><img alt="FB" src='{$smarty.const.IMAGE_ROOT}icons/fasticons/FaceBook_24x24.png'> tchalvak on Facebook</a> </li>
      <li><em> or tchalvak on AIM</em></li>
    </ul>
    <div><a class='expand-link'>More info &amp; bio</a></div>
    <div class='developer-info'>
    	<!-- Expanded & contracted section -->
      <p>
        Hailing from the icy steppes of upstate New York, Roy got his first computer at the ripe old age of 14, and has been addicted to computers ever since.  He's worked in IT fixing computers, and eventually decided that the web is the future, got in on the action, and hasn't looked back. Since 2003, he's been working in php and webdesign, which he got started on from working on NinjaWars.
      </p>
      <p>
        Roy is almost done with a BS degree in Biochemistry from SUNY Geneseo. He says it was an accident. Luckily he also took programming classes along the way, and liked them.
      </p>
      <p>
        When he's able to overcome his attachment to instantaneous communication and exchange of ideas (i.e. the internet), he truly enjoys swimming and walking dogs, even if they are someone else's dogs.
      </p>

      <img class='developer-image' alt='tchalvak' src="images/tchalvak-smaller.jpg">

      <div>
        <a href="http://www.odesk.com/referrals/track/rronalds?redir=http%3A%2F%2Fwww.odesk.com%2Fusers%2F%7E%7E46ddd5d105882453" rel='nofollow'><img src="http://www.odesk.com/images/banners/banner_provider_468x60.gif" alt="The On Demand Global Workforce - oDesk" width="468" height="60"></a>
      </div>

      <div id='facebook-badge'><!-- Facebook Badge START --><a href="http://www.facebook.com/tchalvak" rel='nofollow' title="Roy Ronalds" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;">Roy Ronalds</a><span style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; line-height: 16px; font-variant: normal; font-style: normal; font-weight: normal; color: #555555; text-decoration: none;">&nbsp;|&nbsp;</span><a href="http://www.facebook.com/badges.php" rel='nofollow' title="Facebook badge!" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;">Facebook badge</a><br><a href="http://www.facebook.com/tchalvak" title="Roy Ronalds" target="_TOP"><img src="http://badge.facebook.com/badge/16501613.459.488706671.png" alt="Roy Ronalds" style="border: 0px;"></a><!-- Facebook Badge END --></div>
    </div><!-- End of .developer-info -->
  </div>
  <div class='developer'>
    <h5><span class='unadorned-developer'>Beagle / Al Vazquez</span> - Programmer and Server Administrator</h5>
    <!-- No developer info here. -->
  </div>
</section><!-- End of the Developers section -->

<div class='other-credits'>
  <h3 class='subtitle'>Other Credits</h3>
  <ul>
    <li>
      NinjaLord / John Facey, II - Founder &amp; Original Developer of NinjaWars -
      <a href="interview.php">Archived interview with John by www.bbgdev.com</a>
    </li>
    <li>
      Other developers &amp; planners at various points:
      chrismonster, kultcher, sparky, &amp; suavisimo
    </li>
    <li> Certain NPCs and other code contributions: DeathDepiction </li>
    <li> Evolym Fragile/Davinel - the Flash Banner </li>
    <li> Magatsu - the Shop Graphics </li>
    <li>
      Alegion - the original for the Koi photograph Background - <a href='http://alegion.deviantart.com/'>alegion.deviantart.com/</a>
    </li>
    <li> Social networking icons by: <a href='http://www.fasticon.com' rel='nofollow'>FastIcon.com</a></li>
    <li>
      DNS services provided by:
      <a class='external-link' href="http://freedns.afraid.org" rel='nofollow'>Free DNS</a>
      and <a class="external-link" href="http://dns.he.net">Hurricane Electric</a>
    </li>
  </ul>
</div>

<div id='open-source-repository'>
  <h3 class='subtitle'>Contributing to Ninjawars</h3>

  <p>Want to get involved?  You can hack away at the code on github and suggest changes or ask any questions on the <a href="http://ninjawars.proboards19.com" rel='nofollow'>Ninjawars Forum</a>.</p>
  <p> Ninjawars is open source, with the source code downloadable and able to be openly contributed to on github at:
    <a class='external' target='_blank' href="https://github.com/BitLucid/ninjawars/">github.com/BitLucid/ninjawars</a>
  </p>

    <div id='latest-commit-section'>
    <p id='latest-commit-title'>The latest commit to the main ninjawars code was:</p>
    <span id='latest-commit'>
    </span>
    </div>
</div>

<div class='license'>
  <div class='subtitle'>License</div>
  <p>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png"></a><br>
    <span>Ninjawars</span>
    by <a href="{$smarty.const.WEB_ROOT}" rel="cc:attributionURL">Ninjawars.net</a>
    is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">
    Creative Commons Attribution-Share Alike 3.0 United States License</a>.<br>
    Permissions beyond the scope of this license may be available from the contact information at:
    <a href="staff.php" rel="cc:morePermissions">{$smarty.const.WEB_ROOT}staff.php</a>.
  </p>
</div>

<script type="text/javascript" src="http://www.ohloh.net/p/471695/widgets/project_thin_badge.js"></script>
<div id='project-languages' class='light-background'>
  <script type="text/javascript" src="http://www.ohloh.net/p/471695/widgets/project_languages.js"></script>
</div>

<script type='text/javascript' src="js/staffPage.js"></script>
<script type='text/javascript'>
{literal}
$(document).ready(function() {
	$('.developer-info').hide();
	$('.expand-link').click(function () {
		$('.developer-info').slideDown();
		$('.expand-link').hide();
	});

	$('#latest-commit').hide();
	$('#latest-commit-title').hide();

	loadLastCommitMessage();
});
{/literal}
</script>


</div><!-- end of contact-us -->
